boto3>=1.26
requests
fsspec
aiohttp
spikeinterface[full]==0.97.1
neo
pynwb
threadpoolctl==3.1.0   # https://stackoverflow.com/a/72840515/11483674
Flask[async]==2.2.3
pydantic[email,dotenv]==1.10.7
uvicorn==0.21.1
# neuroconv==0.2.4
git+https://github.com/catalystneuro/neuroconv
nwbinspector==0.4.27