boto3>=1.26
requests
fsspec
aiohttp
threadpoolctl==3.2.0   # https://stackoverflow.com/a/72840515/11483674
Flask[async]==2.3.3
Werkzeug==2.3.7
pydantic[email]==1.10.12
pynwb==2.5.0
spikeinterface[full,widgets]==0.98.2
neo==0.12.0
neuroconv==0.4.1
nwbinspector==0.4.29
dandi==0.56.0